body {
    margin: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    font-family: suit-medium;
    background-color: #9d4edd;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float:left;
}

.navbar a:hover:not(.active) {
    background-color: #8340b9;
}

.active {
    background-color: #c175ff;
}